$bg-color: #f4f4f4;

h1 {
    font-size: 1.2rem !important;
    @media (min-width: 992px) { 
        font-size: 2.5rem !important;
    }
} 

.container {
    min-height: calc(100vh - 92px - 56px);
}

.header-container {
    @media (min-width: 992px) { 
        margin-left: 10%;
        margin-right: 10%
    }
} 

.hidden-xs {
    @media (max-width: 992px) { 
        display: none !important;
    }
} 


.hidden-lg {
    @media (min-width: 992px) { 
        display: none !important;
    }
} 

.text-white {
    color: white;
}

.bg-grey {
    background-color: $bg-color;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.text-24-xs {
    font-size: 24px;
}

.text-14-xs {
    font-size: 14px;
}

.text-20-xs {
    font-size: 20px;
}

// For block vue 
.text-position {
    color: black;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: -3%;
    left: 6%;
    @media (min-width: 992px) { 
        top: 1%;
        left: 12%;
    }
}

.text-black {
    color: black !important;
}